body{
	background-image: url(background.jpg);
	background-size:100% auto;
	margin:0px;
}
.div_setting{
	width:1000px;
}
.top,.bottom{
	background: rgba(0,0,0,.4);
  	overflow: hidden;
  	padding: 0;
  	top: 0;
  	height:310px;
  	width: 1000px;
  	z-index: 1;
  	margin-top:30px;
  	border: 2px groove rgba(255,255,255,.7);
}
.bottom{
	margin-top:0px;
}
.bottom_border{
	border-radius:0px 0px 10px 10px;
	border-top:none;
}
.top_border{
	border-radius:10px 10px 0px 0px;
	border-bottom:none;
}
.logo{
	width:90px;
	height:90px;
	float:left;
}
.logo_right{
	float:right;
}
.center_img{
	height:300px;
	width:800px;
	margin-top: 10px;
	-webkit-filter:drop-shadow(0px 0px 13px rgba(255,255,255,.5));
	filter:drop-shadow(0px 0px 13px rgba(255,255,255,.5));
}
.cmenu{
	width:500px;
	height:150px;
	float:left;
	background-repeat: no-repeat;
	overflow: hidden;
}
.cmenu_left{
	width:150px;
	margin:0px;
	padding:0px;
	height:150px;
	float:left;
	margin-left:20px;
}
.cmenu_right{
	margin:0px;
	padding:0px;
	height:150px;
	float:right;
	width:330px;
}
.cmenu_title{
	font:Verdana;
	font-size:30px;
	font-weight: bolder;
	font-style: italic;
	font-variant: small-caps;
	color:rgba(255,255,0,.8);
	letter-spacing: 5px;
	margin-right:20px;
	text-shadow: 5px 2px #000000;
}
.cmenu_button{
	width:310px;
	float:right;
	margin:10px 20px 0px 0px;
	background-color: #090;
	font-size:25px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	color:black;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 1px 1px #ffffff;
}
.cmenu_button:hover{
	transform:scale(1.05,1.1);
	box-shadow: 0px 0px 10px #fff;
}
.ribbon_img{
	width:150px;
	height:150px;
	-webkit-filter:drop-shadow(0px 0px 5px rgba(255,255,255,.5));
	filter:drop-shadow(0px 0px 5px rgba(255,255,255,.5));
}