body{
	background-image: url(background.jpg);
	background-size:100% auto;
	margin:0px;
}
.div_setting{
	width:1000px;
	margin:0px auto;
}
.main{
	background: rgba(0,0,0,.4);
  	height: 620px;
  	overflow: hidden;
  	padding: 0;
  	top: 0;
  	width: 1000px;
  	z-index: 1;
  	margin-top:30px;
  	border: 2px groove rgba(255,255,255,.7);
  	border-radius:10px;
}
.button_link{
	width:200px;
	background-color: #090;
	font-size:25px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	color:black;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 1px 1px #ffffff;
	text-decoration: none;
	text-align:center;
}
.button_link:hover{
	transform:scale(1.05,1.1);
	box-shadow: 0px 0px 10px #fff;
}
.left{
	float:left;
	margin:20px 0px 0px 20px;
}
.right{
	float:right;
	margin:20px 20px 0px 200px;
}
.sub_top{
	width:100%;
	overflow:hidden;
}
.sub_top a{
	margin-bottom: 10px;
}
.sub_bottom{
	width:100%;
}
.sub_left{
	float:left;
	width:400px;
	height:580px;
	overflow: hidden;
}
.sub_right{
	float:right;
	width:590px;
	height:580px;
	overflow:hidden;
}
.sub_rightcontent{
	overflow:hidden;
	position:relative;
}
.rightcontent_title{
	overflow:hidden;
}
.rightcontent{
	overflow:hidden;
	width:100%;
	margin-left:25px; 
}
.rightcontent_main{
	overflow:hidden;
	width:250px;
	padding-left:10px;
	float:left;
	font-family:"Century Schoolbook L";
	font-weight: bolder;
	font-size:30px;
	letter-spacing: 0px;
	font-style: italic;
	text-shadow: 2px 2px #222;
	color:#fff;
}
.sub_table{
	overflow:auto;
	width:900px;
	max-height:480px;
	margin:0px auto;
	font-family:"Century Schoolbook L";
	font-size:20px;
	border-radius:0px 0px 5px 5px;
	background:rgba(255,255,255,0.8);
}
.p_thead{
	background:rgba(255,255,255,0.9);
	width:900px;
	margin:15px auto 0 auto;
	border-radius:5px 5px 0 0;
}
.p_span{
	font-family:"Century Schoolbook L";
	font-size:22px;
	font-weight: bold;
	text-shadow: 1px 1px #ff0;
}
.pokemon_profile{
	width:300px;
	height:300px;
	border-radius: 300px;
	background:transparent;
	margin:20px 50px;
	box-shadow: 0px 0px 10px #fff;
}
.pokemon_profile_small{
	width:35px;
	height:35px;
	background:blue;
	border: 1px solid #090;
}
.pokemon_profile:hover{
	transform:scale(1.01,1.01);
	box-shadow: 0px 0px 20px #fff;	
}
.pokemon_profile_small:hover{
	transform:scale(1.05,1.05);
	box-shadow: 0px 0px 20px #fff;	
}
p{
	margin:0px;
}
.p_title,.p_content{
	width:100%;
}
.p_title{
	font-family:Purisa;
	font-size:18px;
	font-style: italic;
	padding-left:20px;
	text-shadow: 2px 2px black;
	font-weight: bold;
	color:#ccc;
}
.p_content{
	font-family:"Century Schoolbook L";
	font-weight: bolder;
	font-size:30px;
	text-align: center;
	letter-spacing: 3px;
	font-style: italic;
	text-shadow: 2px 2px #222;
	color:#fff;
}
.add_mb10{
	margin-bottom:10px;
}
.add_mb20{
	margin-bottom:20px;
}
.add_mb30{
	margin-bottom:30px;
}
.add_mt20{
	margin-top:20px;
}
.p_input{
	width:350px;
	text-align: center;
	padding:3px;
	font-family:"Century Schoolbook L";
	font-weight: bolder;
	font-size:25px;
	letter-spacing: 3px;
	font-style: italic;
}
.p2_input{
	width:275px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	text-align: center;
	padding:5px 0px;
	font-family:"Century Schoolbook L";
	font-weight: bolder;
	font-size:20px;
	letter-spacing: 2px;
	font-style: italic;
}
.m_b{
	margin-bottom:20px;
}
.p_border{
	border-radius:5px;
	border-style: none;
}
.table a{
	border-style: solid;
	border-width: 1px;
	background:#090;
	color:black;
	padding:2px 5px;
	border-radius:5px;
	text-shadow: 1px 1px #ffffff;
	float:right;
	margin-right:3px;
}
.table a:hover{
	text-decoration:underline;
	color:black;
	text-shadow: 2px 1px #ffffff;

}